.container  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  padding-top: 4px;
  max-width: 1492px;
  margin: 4px;
}

.header {
  display: grid;
  grid-template-columns: 6fr 1fr;
}