h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

 h1, h2, h3, h4, h5, h6 {
    color: orange;
}

body {
    
    background: url(./img/background.jpg) center no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

input {
    height: 18px;
}

/* label {
    font-size: 14px;
} */

button {
    font-size: 16px;
    font-weight: 600;
}

.app {
    color: white; 
}

.mainPage  {
    max-width: 1500px;
    margin: auto;
}

.orange {
    color: orange;
}
    
