.container {
  background-color: rgb(50, 61, 61);
  width: 800px;
  margin: 0 auto;
  padding: 1px;
}

.inner {
  display: flex;
  background-color: rgba(0, 0, 0, 0.527);
  padding: 10px;
  font-size: 18px;
  border-bottom: solid orange;
  position: relative;
  margin: 20px;
}

.container__main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* border: red solid; */
  border-bottom: orange solid;
  padding-bottom: 10px;
}

.form_main {
  display: grid;
  max-width: 300px;
}

.container__item   {
  margin-left: 30px;
}

.form {
  margin-top: 10px;
}





.avatar img {
  width: 250px;
  border-radius: 5%;
  margin-left: 10px;
}


.linkReturn  {
  font-size: 16px;
  right: 15px;
  top: 12px;
  position: absolute;
}





.about {
  /* display: flex;
  flex-flow: nowrap column;
  align-items: center; */
  /* max-width: 500px; */
  border: rgba(0, 0, 0, 0.527) solid;
  background-color: rgb(50, 61, 61);
}

/* .container__about {
  border: solid rgba(0, 0, 0, 0.527);
} */

.about__header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.527);
  padding: 5px 0;
}

.about__form {
  /* width: 500px; */
  margin: 10px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  /* border: orange solid; */
  text-align: center;
}

.about h4 {
  text-align: center;
}

.button    {
  padding: 2px;
  text-decoration: none;
  border: solid;
  right: 5px;
  top:6px;
  color: orange;
  background-color: black;
  margin-left: 10px;
  width: 50px;
}

.button:hover {
  background-color: orange;
  color: black;
  border: solid orange;
}


.container__about button {
  position: relative;
  left: 660px;
  margin-bottom: 10px;
}

.container__main button {
  position: relative;
  left: 370px;
  top: 50px;
}
