.container {
  background-color: rgb(50, 61, 61);
  width: 800px;
  margin: 0 auto;
  padding: 1px;
}

.inner {
  display: flex;
  background-color: rgba(0, 0, 0, 0.527);
  padding: 10px;
  font-size: 18px;
  border-bottom: solid orange;
  position: relative;
  margin: 20px;
}

.container__main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* border: red solid; */
  border-bottom: orange solid;
  padding-bottom: 10px;
}

.form_main {
  display: grid;
  max-width: 300px;
}

.container__item   {
  margin-left: 30px;
}

.form {
  margin-top: 10px;
}



.avatar img {
  width: 250px;
  border-radius: 5%;
  margin-left: 10px;
}


.linkReturn  {
  font-size: 16px;
  right: 15px;
  top: 12px;
  position: absolute;
}


.about {
  border: rgba(0, 0, 0, 0.527) solid;
  background-color: rgb(50, 61, 61);
  margin-bottom: 30px;
}


.about__header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.527);
  padding: 5px 0;
}

.about__form {
  margin: 10px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  text-align: center;
}

.about h4 {
  text-align: center;
}

.button    {
  padding: 2px;
  text-decoration: none;
  border: solid;
  color: orange;
  background-color: black;
  width: 50px;
  position: absolute;
  right: 13px;
  bottom: 12px;
}

.button:hover {
  background-color: orange;
  color: black;
  border: solid orange;
  
}


.footer {
  position: absolute;
  right: 80px;
  bottom: 13px;
  
}

.message {
  color: orange;

}

.error {
  color: rgba(255, 0, 0, 0.842);
}

